<footer class="bg-neteller text-white text-center py-2">
    Copyright © 2017 - 2018 Muabanskrill.com - All rights reserved 
</footer>
</div>

<script src="/dist/jquery/jquery-3.3.1.min.js"></script>
<script src="/dist/gui/js/uikit.min.js"></script>
<script src="/dist/gui/js/uikit-icons.min.js"></script>
<script src="/dist/main/js/vue.min.js"></script>
<script src="/dist/main/js/main.js"></script>
</body>

</html>