<div class="d-block mb-3">
    <div class="bg-success text-white my-0" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>
            Giao dịch tự động trong vòng 5s qua Vietcombank 24/7
            <br> (kể cả ban đêm & cuối tuần)
        </p>
    </div>
    <div class="bg-warning text-white my-0" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>
            Giao dịch tự động trong vòng 5s qua Vietcombank 24/7
            <br> (kể cả ban đêm & cuối tuần)
        </p>
    </div>
    <div class="bg-danger text-white my-0" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>
            Giao dịch tự động trong vòng 5s qua Vietcombank 24/7
            <br> (kể cả ban đêm & cuối tuần)
        </p>
    </div>
    <div class="bg-dark text-white my-0" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>
            Giao dịch tự động trong vòng 5s qua Vietcombank 24/7
            <br> (kể cả ban đêm & cuối tuần)
        </p>
    </div>
    <div class="bg-info text-white my-0" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>
            Giao dịch tự động trong vòng 5s qua Vietcombank 24/7
            <br> (kể cả ban đêm & cuối tuần)
        </p>
    </div>
</div>