<div class="bg-white my-md-0 my-3 border border-neteller rounded">
        <h1 class="txt-neteller my-0 p-3 border-bottom border-muted">Mua Neteller</h1>
        <form class="uk-form-horizontal py-3" action="">
            <div class="px-3 mb-3">
                <label class="uk-form-label uk-text-bold">Chúng tôi còn</label>
                <div class="uk-form-controls">
                    <div class="position-relative">
                        <input type="number" class="uk-input txt-neteller uk-text-bold" disabled readonly value="1000">
                        <span class="uk-form-icon uk-form-icon-flip mr-1">
                            <i class="fa fa-dollar fa-lg txt-srkill"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="px-3 mb-3">
                <label class="uk-form-label uk-text-bold">Bạn muốn mua</label>
                <div class="uk-form-controls">
                    <div class="position-relative">
                        <input type="number" class="uk-input border-neteller">
                        <span class="uk-form-icon uk-form-icon-flip mr-1">
                            <i class="fa fa-dollar fa-lg txt-srkill"></i>
                        </span>
                    </div>
                    <span class="d-block text-danger">
                        <i class="fa fa-close mr-1"></i>
                        Lỗi! Không đúng thông tin
                    </span>
                    <span class="d-block text-success">
                        <i class="fa fa-check mr-1"></i>
                        Thông tin chính xác
                    </span>
                </div>
            </div>
            <div class="px-3 mb-3">
                <label class="uk-form-label uk-text-bold">số tiền cần thanh toán</label>
                <div class="uk-form-controls">
                    <div class="position-relative">
                        <input type="number" class="uk-input txt-neteller uk-text-bold" disabled readonly value="0">
                        <span class="uk-form-icon uk-form-icon-flip mr-1">
                            <i class="fa fa-dollar fa-lg txt-srkill"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="px-3 mb-3">
                <label class="uk-form-label uk-text-bold">Ngân hàng chuyển tiền</label>
                <%- include('./select.ejs') %>
            </div>
            <div class="border-top border-muted p-3 text-md-right text-center">
                <button class="uk-button uk-button-large" disabled>Thanh Toán</button>
            </div>
        </form>
    </div>