<div class="bg-white my-md-0 my-3 border border-skrill rounded">
        <h1 class="txt-skrill my-0 p-3 border-bottom border-muted">Bán Skrill</h1>
        <form class="uk-form-horizontal py-3" action="">
            <div class="px-3 mb-3">
                <label class="uk-form-label uk-text-bold">Bạn muốn bán</label>
                <div class="uk-form-controls">
                    <div class="position-relative">
                        <input type="number" class="uk-input border-skrill">
                        <span class="uk-form-icon uk-form-icon-flip mr-1">
                            <i class="fa fa-dollar fa-lg txt-srkill"></i>
                        </span>
                    </div>
                    <span class="d-block text-danger">
                        <i class="fa fa-close mr-1"></i>
                        Lỗi! Không đúng thông tin
                    </span>
                    <span class="d-block text-success">
                        <i class="fa fa-check mr-1"></i>
                        Thông tin chính xác
                    </span>
                </div>
            </div>
            <div class="px-3 mb-3">
                <label class="uk-form-label uk-text-bold">Ngân hàng nhận tiền</label>
                <%- include('./select.ejs') %>
            </div>
            <div class="px-3 mb-3">
                <label class="uk-form-label uk-text-bold">Số tài khoản nhận tiền</label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-input border-skrill" placeholder="Số tài khoản VCB. Vd: 05010000xxxxx">
                </div>
            </div>
            <div class="px-3 mb-3">
                <label class="uk-form-label uk-text-bold">Tên tài khoản nhận tiền</label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-input txt-skrill" disabled readonly value="ABCXYZ">
                </div>
            </div>
            <div class="px-3 mb-3">
                <label class="uk-form-label uk-text-bold">Số tiền nhận</label>
                <div class="uk-form-controls">
                    <div class="position-relative">
                        <input type="text" class="uk-input border-skrill uk-text-bold" disabled readonly value="0">
                        <span class="uk-form-icon uk-form-icon-flip mr-1 text-uppercase txt-skrill">
                            VNĐ
                        </span>
                    </div>
                </div>
            </div>
            <div class="px-3 mb-3">
                <label class="uk-form-label uk-text-bold">Chúng tôi còn</label>
                <div class="uk-form-controls">
                    <div class="position-relative">
                        <input type="text" class="uk-input border-skrill" disabled readonly value="300,000,000">
                        <span class="uk-form-icon uk-form-icon-flip mr-1 text-uppercase txt-skrill">
                            VNĐ
                        </span>
                    </div>
                </div>
            </div>
            <div class="border-top border-muted p-3 text-md-right text-center">
                <button class="uk-button uk-button-large" disabled>Thanh Toán</button>
            </div>
        </form>
    </div>