<div class="bg-white mt-3">
    <h4 class="txt-neteller my-0 p-3 mb-3 border-bottom border-muted">Hướng dẫn giao dịch</h4>
    <ol class="pl-md-5">
        <li>Nhập số lượng mua Netteller USD</li>
        <li>Hệ thống sẽ tự động tính số tiền cần gửi</li>
        <li>Nhập Email nhận Netteller</li>
        <li>Nhập số diện thoại</li>
        <li>Bấm vào nút "Thanh Toán"</li>
        <li>Thực hiện chuyển tiền theo hướng dẫn</li>
        <li>Hệ thống sẽ chuyển Neteller cho bạn trong giây lát</li>
    </ol>
    <h4 class="txt-neteller my-0 p-3 mb-3 border-bottom border-muted">Chú ý</h4>
    <ul class="pl-md-5">
        <li>...</li>
    </ul>
</div>