<div class="col-md-12 border border-muted rounded py-3 mt-3 bg-white widget-list">
    <h5>
        <span class="uk-text-large text-muted uk-text-bold text-uppercase">Tài nguyên</span>
        <span class="uk-text-small">của chúng tôi</span>
    </h5>
    <ul class="list-group">
        <li class="list-group-item py-3">
            <div class="row align-items-center">
                <div class="col-2 icon-widget">
                    <img src="/dist/images/neteller.png" alt="">
                </div>
                <div class="col-4">Neteller</div>
                <div class="col-5 text-right px-0">
                    <span class="uk-badge">20,000 vnđ</span>
                </div>
            </div>
        </li>
        <li class="list-group-item py-3">
            <div class="row align-items-center">
                <div class="col-2 icon-widget">
                    <img src="/dist/images/skrill.png" alt="">
                </div>
                <div class="col-4">Skrill</div>
                <div class="col-5 text-right px-0">
                    <span class="uk-badge">20,000 vnđ</span>
                </div>
            </div>
        </li>
    </ul>
</div>