<div class="row px-3">
    <div class="col-md-12 border border-neteller rounded py-3 bg-white widget-list">
        <h5>
            <span class="uk-text-small">Bán muốn</span>
            <span class="uk-text-large txt-neteller uk-text-bold text-uppercase">Mua</span>
        </h5>
        <ul class="list-group buy-list">
            <li class="list-group-item">
                <a class="row align-items-center active" href="/index.html">
                    <div class="col-2 icon-widget">
                        <img src="/dist/images/neteller.png" alt="">
                    </div>
                    <div class="col-4 uk-text-bold">Neteller</div>
                    <div class="col-5 uk-text-bold text-right px-0">
                        <span class="uk-badge">20,000 vnđ</span>
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a class="row align-items-center" href="/buy-skrill.html">
                    <div class="col-2 icon-widget">
                        <img src="/dist/images/skrill.png" alt="">
                    </div>
                    <div class="col-4 uk-text-bold">Skrill</div>
                    <div class="col-5 uk-text-bold text-right px-0">
                        <span class="uk-badge">20,000 vnđ</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-12 border border-skrill rounded py-3 bg-white widget-list mt-3">
        <h5>
            <span class="uk-text-small">Bán muốn</span>
            <span class="uk-text-large txt-skrill uk-text-bold text-uppercase">Bán</span>
        </h5>
        <ul class="list-group sell-list">
            <li class="list-group-item">
                <a class="row align-items-center" href="/sell-neteller.html">
                    <div class="col-2 icon-widget">
                        <img src="/dist/images/neteller.png" alt="">
                    </div>
                    <div class="col-4 uk-text-bold">Neteller</div>
                    <div class="col-5 uk-text-bold text-right px-0">
                        <span class="uk-badge">20,000 vnđ</span>
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a class="row align-items-center" href="/sell-skrill.html">
                    <div class="col-2 icon-widget">
                        <img src="/dist/images/skrill.png" alt="">
                    </div>
                    <div class="col-4 uk-text-bold">Skrill</div>
                    <div class="col-5 uk-text-bold text-right px-0">
                        <span class="uk-badge">20,000 vnđ</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    
    <%- include('./resource.ejs') -%>
</div>