<div class="row px-3">
    <div class="col-12 bg-white rounded py-3">
        <ul class="list-group bg-white nolist px-3">
            <li>
                <a href="/faq.html" class="row py-2 align-items-center border-bottom border-skrill uk-text-bold">
                    <div class="col-2">
                        <i class="txt-neteller" uk-icon="icon: comment; ratio: 1.5"></i>
                    </div>
                    <div class="col-10">
                        <span class="d-block txt-skrill">Những câu hỏi</span>
                        <span class="txt-neteller">thường gặp</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="row py-2 align-items-center border-bottom border-skrill uk-text-bold">
                    <div class="col-2">
                        <i class="txt-neteller" uk-icon="icon: commenting; ratio: 1.5"></i>
                    </div>
                    <div class="col-10">
                        <span class="d-block txt-skrill">Liên hệ chúng tôi</span>
                        <span class="txt-neteller">Chat Trực Tuyến</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="row py-2 align-items-center border-bottom border-skrill uk-text-bold">
                    <div class="col-2">
                        <i class="txt-neteller" uk-icon="icon: mail; ratio: 1.5"></i>
                    </div>
                    <div class="col-10">
                        <span class="d-block txt-skrill">Email</span>
                        <span class="txt-neteller uk-text-small">Admin@muabanskrill.com</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="row py-2 align-items-center border-bottom border-skrill uk-text-bold ">
                    <div class="col-2">
                        <i class="txt-neteller" uk-icon="icon: receiver; ratio: 1.5"></i>
                    </div>
                    <div class="col-10">
                        <span class="d-block txt-skrill">Hotline</span>
                        <span class="txt-neteller">09090... Tái</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="row py-2 align-items-center border-bottom border-skrill uk-text-bold ">
                    <div class="col-2">
                        <i class="fa fa-skype fa-2x txt-neteller"></i>
                    </div>
                    <div class="col-10">
                        <span class="d-block txt-skrill">Skype</span>
                        <span class="txt-neteller">live:design_4421</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-12 bg-white rounded py-3 mt-3">
        <div class="txt-skrill border-bottom border-skrill pb-3">
            <i uk-icon="icon: facebook; ratio: 1.5"></i>
            <span class="ml-1 uk-text-bold txt-skrill uk-text-large">
                Fanpage
            </span>
        </div>
        <!--Code Fanpage-->
    </div>
    <div class="col-12 bg-white rounded py-3 mt-3">
        <div class="txt-skrill border-bottom border-skrill pb-3">
            <i uk-icon="icon: comments; ratio: 1.5"></i>
            <span class="ml-1 uk-text-bold txt-skrill uk-text-large">
                Đánh giá
            </span>
        </div>
        <ul class="nolist rating-widget">
            <% for(let i=0; i<10; i++) { %>
                <li>
                    <p class="text-success">
                        Ghinlop
                        <span class="float-right text-muted uk-text-small">18 giờ trước</span>
                    </p>
                    <p>Dịch vụ siêu nhanh</p>
                </li>
                <% } %>
        </ul>
        <div class="d-block text-center">
            <a href="/rating.html"></a>
        </div>
    </div>
</div>